[Unit]
Description = lenticularis webui (gunicorn app)
After = syslog.target network-online.target remote-fs.target nss-lookup.target
Wants = network-online.target

[Service]
User = lens3
WorkingDirectory = /tmp
Environment = LENTICULARIS_ADM_CONFIG=/etc/lenticularis/adm-config.yaml

ExecStart = python3 -m lenticularis.start_service api

PrivateTmp = true

[Install]
WantedBy = multi-user.target
