[Unit]
Description=Lenticularis-api service (gunicorn app)
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
User=lens3
Group=lens3
WorkingDirectory=/var/tmp
Environment=LENTICULARIS_API_CONFIG=/etc/lenticularis/api-config.yaml
StandardOutput=journal
StandardError=journal

ExecStart=python3 -m lenticularis.start_service api

#PrivateTmp=true

[Install]
WantedBy=multi-user.target
