[Unit]
Description=Lenticularis-mux service (gunicorn app)
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
User=lens3
Group=lens3
WorkingDirectory=/var/tmp
Environment=LENTICULARIS_MUX_CONFIG=/etc/lenticularis/mux-config.yaml
StandardOutput=journal
StandardError=journal

ExecStart=python3 -m lenticularis.start_service mux

#PrivateTmp=true

[Install]
WantedBy=multi-user.target
