[Unit]
Description=Redis for Lenticularis-S3
After=network.target

[Service]
ExecStart=/usr/bin/redis-server /etc/lenticularis/redis.conf --supervised systemd
ExecStop=/usr/libexec/redis-shutdown
Type=notify
User=lens3
Group=lens3
RuntimeDirectory=lenticularis-redis
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
